<input id="info" type="hidden" value= '<%= personal_info %>' />
<input type="hidden" id="category_id" value="<%= params[:category_id] %>" />
<script type="text/javascript">
  $.ajax({
    async : true,
    type : "POST",
    url : "/preambles/init_plan.json",
    dataType:  "json",
    data : {
      plan_infos : $("#info").val(),
      category_id : $("#category_id").val()
    }
  })
</script>
<div class="plan_t">复习计划正在生成中…</div>
<div class="plan_box">
  <h2>利用这些时间请完善一下个人资料吧！</h2>
  <%= form_for :personal_info,:url=>"/preambles/update_user",:html=>{:id=>"p_infos"} do %>
  <div class="user_data">
    <label>用户名:</label><input name="p_name" id="p_name" type="text" value="" />
  </div>
  <div class="user_data">
    <label>邮箱:</label><input name="p_email" id="p_email" type="text" />
  </div>
  <div class="user_data">
    <label>QQ:</label><input name="p_qq" id="p_qq" type="text" />
  </div>
<% end %>
  <button class="fs_btn" onclick="update_info()">&nbsp;&nbsp;保&nbsp;&nbsp;&nbsp;&nbsp;存&nbsp;&nbsp;</button>
</div