<script type="text/javascript">
  //定时器的初始参数
  var local_start_time = null;
  var local_timer = null;
  var local_save_time = null;
  var true_time = 0; //记录正确的次数，只要错一次true_time归零，只有为3时通过
  var error_time = 0; //记录错误次数，两次连错降级
  var _history = [];  //记录操作历史，用于撤销操作
</script>
<div class="head">
  <div class="time"></div>
</div>
<div class="main">  
  <%= render :partial => "sentence_div" %>
</div>
<div class="foot">
  <button  class="fs_btn" onclick="revoke_exam()">我想重新测试</button>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    arr_to_choice(_ans_arr);
    local_start_time = _ans_arr.length * 1;
    local_save_start();
  });
</script>