<h1 class="s_title"><img src="/assets/s_title.png" /></h1>
<div class="fenshu_box">
  <div class="user_pic"><img src="/assets/user_pic.jpg" /></div>
  <h1 class="fenshu_h1">当前估分：<span>73</span></h1>
  <div class="clear"></div>
  <h2 class="fenshu_h2">设定目标成绩</h2>
  <input name="" type="text" class="fs_input" />
  <button class="fs_btn">生成复习方案</button>
</div>

