<h1 class="title"><img src="/assets/title.png" /></h1>
<h1 class="title_h">只需三步就可以免费得到一份只针对你的复习方案：</h1>
<ul class="f_ul">
  <li>① 测试你的当前水平；</li>
  <li>② 确定你的目标成绩；</li>
  <li>③ 生成个性化复习方案。</li>
</ul>
<h2 class="title_h2">前测大约用时5分钟准备好了吗？</h2>
<a href="/pretests/test_words?category_id=<%= @category %>"  class="f_btn">我了解了，可以开始前测了</a>
