<h1 class="title">
  <% if @category == Category::TYPE[:CET4] %>
    <img src="/assets/3.png" />
  <% elsif @category == Category::TYPE[:CET6] %>
    <img src="/assets/4.png" />
  <% else %>
    <img src="/assets/title.png" />
  <% end %>
</h1>
<h1 class="title_h">通过前测让我们了解你现在的英语水平！</h1>
<div class="f_con">
  <ul class="f_ul">
    <li>① 测试你的当前水平；</li>
    <li>② 确定你的目标成绩；</li>
    <li>③ 生成个性化复习方案。</li>
  </ul>
</div>
<h2 class="title_h2" id="title_h2">前测大约用时5分钟准备好了吗？</h2>
<a href="/pretests/judge_cookie?category_id=<%= @category  %>"  class="f_btn">我了解了，可以开始前测了</a>