<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>前测APP</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "cookie" %>
    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>

  <body>
    <div class="wrap">
      <%= yield %>
    </div>
    <script src="http://app.baidu.com/static/appstore/monitor.st"></script>
    <div class="tab" style="display: none">
      <p>结束测试将取消本次的成绩</p>
      <div class="tab_btn"><button class="fs_btn" id="confirm">确定</button><button class="fs_btn" onclick="$('.tab').css('display','none')">取消</button></div>
    </div>
  </body>
</html>
